{% extends 'base.html' %}

{%load static%}

{% block title %}
Main
{% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}


{% block content %}
<h1>Bem-vindo à Página Principal</h1>
<form action="{% url 'search_courses' %}" method="get">
    <div class="search-form">
        <input type="text" name="title" placeholder="Buscar por título do curso">
        <select name="category">
            <option value="" selected>Todas as Categorias</option>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </div>
</form>
<!-- Lista de Cursos Disponíveis -->
<h2>Cursos Disponíveis:</h2>
<ul>
    {% for curso in cursos %}
        <li>
            <div class="card">
                <a href="{% url 'course_details' curso.id %}">
                <strong>Curso:</strong> {{ curso.título }}<br>
        
                <img src="{{ curso.image.url }}" alt="{{ curso.título }}" width="200" height="200">
                </br>
            </a>
                <strong>Categorias:</strong>
                {% for categoria in curso.categorias.all %}
                    {{ categoria.nome }}
                {% endfor %}<br>
                <strong>Preço:</strong> R$ {{ curso.preço }}<br>
                <strong>Autor:</strong> {{ curso.instrutor }}
            </div>
        </li>
    {% endfor %}
</ul>

<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button class="logout-button" type="submit">Logout</button>
</form>

<!-- Botão para Instrutores (se o usuário for um instrutor) -->
{% if is_instrutor %}
    <a href="{% url 'instrutores_area' %}">Área de Instrutores</a>
{% endif %}

{% endblock %}

